@use '../layout' as *;
@use '../mixins';

// Relying on `flex` to set `gap` spacing size on li elements
// `gap` ensures even spacing and doesn't interfere with layout
// if list given a `row` direction
.ds-c-list,
.ds-c-list--bare {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.ds-c-list {
  margin-block: $spacer-2;
  padding-inline-start: $spacer-4;
}

.ds-c-list--bare {
  @include mixins.ds-unstyled-list;
}
